$color_checkbox_success:#289aec;
$color_checkbox_default:#d5d5d5;
$transition: .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
$width: 40px;
$height: $width/2;

.toggle{
  cursor: pointer;
  font-size: 13px;
  .toggle-control{
    transition: $transition;
    width: $width;
    height: $height;
    display: inline-block;
    float: left;
    margin-right: 18px;
    border-radius: $height;
    background-color: $color_checkbox_default;
    border: 1px solid $color_checkbox_default;
    position: relative;
    &:after{
      transition: $transition;
      content: "";
      width: $width/2 - 2;
      height: $height - 2;
      display: block;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 1px 1px rgba(black, .4),0 1px 1px rgba(black,.4);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  input{
    display: none;
    &:checked + .toggle-control{
      border-color: $color_checkbox_success;
      background-color: $color_checkbox_success;
      &:after{
        left: $width/2;
      }
    }
  }
}